@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  html, body {
    overflow-x: hidden;
    max-width: 100vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
